
<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="wraper show-flats">
  <div class="container">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle profile-picture", width: 200 %>
    <p><%= flat.name %></p>
    <%= image_tag "https://kitt.lewagon.com/placeholder/cities/#{flat.city_slug}", width: 600 %>
    <h1><%= flat.description %></h1>
    <p><%= flat.city_name %></p>
  </div>
</div>
